<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bas.Sphere.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Bas.Sphere.Properties.Settings>
            <setting name="StarburstRotationSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StarburstParallaxDistance" serializeAs="String">
                <value>4.77</value>
            </setting>
            <setting name="SphereFrontAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarrelDistortionAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsControlsPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDebugControlsPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProjectionControlsPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHandTrackingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Bas.Sphere.Properties.Settings>
    </userSettings>
</configuration>